<!DOCTYPE html>
<!--
CAB432 Cloud Computing Assignment 2
Matthew Sarna: N9136673
Jason Zhong: N9674985
-->

<html>
	<head>
		<title>Twitter Sentiment - Main</title>
		<link rel="stylesheet" type="text/css" href="CSS/style.css">
	</head>
	<body id="body">

		<div id="header">
			<span>Welcome to the Twitter Sentimaent Analysis Site</span>
		</div>
		
		<div>
			<h1>Please input a keyword to search:</h1><br>
			<!-- Input form with test field and submit button -->
            <div id="form">
                <form action="/search" method = "get">
                    <h2>Keyword: </h2>
                    <input type="text" id="input1" name="keyword" /><br>
                    <h2>Number of Search Results: </h2>
                    <input type="number" id="input2" name="numTweets" value="10" /><br><br>
                    <input type="submit" value="Search"><br><br>
                </form>
            </div>
		</div>

			<br><p {{resultTitle}}>Here are the results: <em id="Selection"></em></p>
			<div id="column">
				{{#each result}}
					<div class="box">
                        <span>Tweet: {{text}}</span><br><br>
                        <span>Sentiment: {{sentiment}}</span><br>
					</div><br>
				{{/each}}
			</div>

	</body>

</html>



