body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 500px;
  background-image: linear-gradient(#81F7D8, #99ff99);
	text-align: center;
	padding: 0;
}

a {
  color: #00B7FF;
}

h1 {
	text-align: center;
	font: italic bold 300% fantasy;
}

input {
	width: 200px;
	height: 40px;
	font-size: 20pt;
}

button {
	height: 40px;
	width: 120px;
	background-color: #A9D0F5;
	font: bold 150% fantasy;
	padding: 10px;
}
button:hover {
	background-color: #FE642E;

}
button:active {
	position:relative;
	top:1px;
}

p {
	font: italic bold 150% fantasy;
}

.box {
	border: 1px solid green;
	background-image: linear-gradient(lightblue, yellow);
	font-size: 18pt;
	margin: 0;
	border-radius: 10px;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#column {
	width: 70%;
	text-align: center;
	margin-left: 15%;
	padding: 0;
}

#header {
	background-color: #28AEFF;
	color: white;
	font-weight: bold;
	padding: 20px;
	margin: 0;
}

#header span {
	background-color: #28AEFF;
	color: white;
	font-size: 30pt;
	font-weight: bold;
}

#header h2 {
	font-size: 20pt;
}

#form {
	text-align: center;
}